@charset "utf-8";

body {
		margin: auto;
		width: 860px;
		font-family: 'Helvetica Neue', 'Liberation Sans', Calibri, Arial, sans-serif;
		font-size: 100%
}

section, header, footer {
	outline: 1px red solid;
}

header {
	text-align: center;
	padding: 20px 0 0;				/*Blankt utrymme allra längst upp*/
}

.startpage .logo {					/*logotypens storlek*/
	width: 235px;
	height: 198px;
}

.startpage h1 {
	font-size: 500%;
	font-family: 'Merienda One';
	display: inline-block;			/*Rubriktest flyttas till höger om logotype justeras vertikalt*/
	margin: 0;						/*Tar bort den inbyggda marginalen */
	vertical-align: 53%;			/*Bestämmer var i rutan Läxhjälpen ska stå*/
	}

h1:first-Letter {
	color: #00AF64;
}

.tagline {
	font-size: 120%;
	padding: 0.5em;						/*Avstånd till kantlinjen under*/
	border-top: 3px double #00AF64;		/*Dubbel kantlinje ovan text */
	border-bottom: 3px double #00AF64;
	margin: 4em 0;						/*Avståndet emellan Vi hjälper... till Vilka vi är..*/
}

.startpage > section {
	display: inline-block;
	width: 20%;
	margin-right: 6%;
	Vertical-align: top;				/*Ovanlinjer för alla sectioner är rak*/
}
	
.startpage >section:Last-of-type {
	margin-right: 0;					/*fjärde section får högermarginal 0 för att få plats samma rad*/
}

.startpage > section > h2 {
	margin: 0 0 1em;					/*står i ordningen topp  höger/vänster  botten avstånd till txt början*/
	background-color: #F5F5F5;
	text-align: center;
	box-shadow: inset 0 0 20px #007241;/*gör grön skugga i rektangel 20px=skuggeffekt längst upp i sectionerna*/
	border-radius: 43%;					/*gör rektangeln till oval ring genom att runda hörnor 50%*/ 
	font-family: 'Merienda One';
}

.hwrap > a {
		margin-right: 30px;				/*Länken som bilderna ligger i.Marginal mellan bild och rubriktext.*/
}


footer {
	display: block;
	margin-top: 3em;
	text-align: center;
	color: #999;
}

.menu a:Link,
.menu a:visited {
	text-decoration: none;				/*borttag av färgen på länken vid besök samt ändring av färg*/
	color: #000;
}
	
.menu a:focus,
.menu a:hover {
	text-decoration: underline;			/*Ändring till röd färg när man hovrar*/
	color: #A62F00;
}

.menu a:active {
	text-decoration: underline;
	color: #FF4900;
}


