@charset "utf-8";

body {
		margin: auto;
		width: 860px;
		font-family: sans-serif;
		font-size: 100%
}

section, header, footer {
	outline: 1px red solid;
}

header {
	text-align: center;
}

.startpage h1 {
	font-size: 500%;
}

.tagline {
	font-size: 120%;
	padding: 0,5em;/*Avstånd till kantlinjen under*/
	border-top: 3px double #00AF64;		/*Dubbel kantlinje ovan text */
	border-bottom: 3px double #00AF64;
	margin: 4em 0;						/*Avståndet emellan Vi hjälper... till Vilka vi är..*/
}

.startpage > section {
	display: inline-block;
	width: 20%;
	margin-right: 6%;
	Vertical-align: top;				/*Ovanlinjer för alla sectioner är rak*/
}
	
.startpage >section:Last-of-type {
	margin-right: 0;					/*fjärde section får högermarginal 0 för att få plats samma rad*/
}

.startpage > section > h2 {
	margin: 0 0 1em;					/*står i ordningen ovankant vänsterkant högerkant*/
	background-color: #F5F5F5;
	text-align: center;
}

footer {
	display: block;
	margin-top: 3em;
	text-align: center;
	color: #999;
}
	
