@charset "utf-8";

body {
		margin: auto;
		width: 860px;
		font-family: 'Helvetica Neue', 'Liberation Sans', Calibri, Arial, sans-serif;
		font-size: 100%;
		background-color: lightyellow;
}
/*
section, header, footer {
	outline: 1px red solid;		
}
*/									/*Outline som var röda hjälplinjer borttagen var bara till hjälp*/
									/*under tiden som strukturen drogs upp*/


.startpage > header, .subpage > header {
	text-align: center;
	padding: 20px 0 0;				/*Blankt utrymme allra längst uppe samt nere*/
}

.subpage header a {
	margin: 0 40px 0 0;
	width: 172px;
}

.subpage .logo {
	width: 146px;
	height: 123px;
}	


.startpage h1, .subpage h1 {
	display: inline-block;
	vertical-align: 53%;
	font-size: 400%;
	margin: 0;
	font-family:"Merianda One";
	color: darkgreen;
}

.startpage h1:first-letter, .subpage h1:first-letter {
	color: red;
}	

.subpage header h1 > span { 
	color: red;
}
	
.startpage hr, .subpage hr {
	padding: 0.5em;
	border-style: double;
	border-width: 3px;
	border-color: #00af64 transparent;
	margin: 2em 0;
/*	border-top: 3px double darkgreen;
	border-bottom: 3px double darkgreen;*/
}

.subpage nav {
	float: left;
	width: 20%;
	display: inline;
	background: transparent;
	
	
}

.subpage nav li {							/*Antingen li eller h2 beroende på vilket man använt i html-koden*/
	margin: 0 0 1em;					/*står i ordningen topp  höger/vänster  botten avstånd till txt början*/
	background-color: #F5F5F5;
	text-align: center;					/*inset=insida*/
	box-shadow: inset 0 0 20px #007241;/*gör grön skugga i rektangel 20px=skuggeffekt längst upp i sectionerna*/
	border-radius: 43%;					/*gör rektangeln till oval ring genom att runda hörnor 50%*/ 
	font-family: 'Merienda One';
	padding: 2em 0;	
	display: block;
	list-style-type: none;				/*Tar bort punkten före listningen */
}
div[role="main"] {
	margin-left: 22%;					/*om inte denna rad finns, så lägger sig artiklarna längre ned, i*/ 
}										/*linje med Kontaktrubrikens nedre kant*/
div[role="main"] > article {
	display: block;
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 3px double #00af64;
	width: 100%;
	float: right;
	margin-left: 25%;
	margin-top: 0;
	
	}
article {
	margin-left: 140px;
	}

div[role="main"] > article:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.alignleft {
	float: left;
	margin: 0 10px 15px 0px;
	display: inline;
	
}

.block > p {
	margin-left: 140px;
}

. block > p:first-of-type {
	margin-top: 0;
}

div[role="main"] figure > img {
	width: 128px;
	height: 128px;
}	

.faux {
	background-image: linear-gradient(to right, lime, lime 180px, pink 90px, pink);
	float: left;
}
/*	
.fbox {
	float: left;
	width: 80px;
	height: 60px;
	border: 5px solid maroon;
	margin: 0 10px 10px 0;
	}*/
	
.sp {
	margin-left: 100px;
	
}


.bildcaption {
	font: italic bolder 110% sans-serif;
	font-family: inherit;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	margin-bottom: 1em;
}
.double {
	border: 1px solid #ccc;
	padding: 5px;
}

footer {
	clear: both;
	background-color: lightblue;
}

.subpage > footer {
	margin-top: 0;
	padding: 1.5em;
	border-top: 3px double #00af64;
}

